.header{
    padding: 5px 0;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 150px;
    border-bottom: 0.5px solid #dbdbdb;
}
.logo h1{
    font-size: 30px;
}

.header-search input{
    padding: 5px 10px;
    border: 1px solid #9e9e9e;
    outline: none;
}
.header-search input::placeholder{
    padding-left: 55px;
}
.icons a{
    margin-left: 15px;
    cursor: pointer;

}
.logolink{
    text-decoration: none;
    color: #000;
}