.card{
    border: 1px solid #e4e4e4;
    display: flex;
    flex-direction: column;
    width: 27%;
    margin: 40px 0;
    margin-left: 35%;
    text-align: center;
}

.intro{
    margin: 40px;

}
.intro p{
    font-size: 15px;
    color: #9e9e9e;
    font-weight: 700;
}
.or{
    display: flex;
    flex-direction: row;
    color: #8d8d8d;
    font-weight: 700;
    padding: 15px 0;
}
hr{
    width: 33%;
}
.facebook {
    outline: none;
    border: none;
    font-size: 13px;
    padding: 10px 25px;
    background-color:#0095f6 ;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

}
.inputs{
    margin: 40px 0;
}
.inputs input{
    margin: 4px 0;
    padding: 10px 70px 10px 10px;
    background-color: hsl(0, 0%, 98%);
    outline: none;
    border: none;
}
.inputs input:nth-child(2){
    font-size: 13px;
    font-weight: 100;
}
.footer p {
    font-size: 13px;
    color: #9e9e9e;
    font-weight: 400;
    margin: 25px 0;

}
.footer a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;

}
.footer span{
    text-decoration: none;
    color: #0095f6;
    font-weight: 700;
    cursor: pointer;
    margin: 10px 0;
}
.btn{  
    outline: none;
    border: none;
    font-size: 13px;
    padding: 10px 25px;
    background-color:#0095f6 ;
    color: #fff;
    font-weight: 700;
    width: 80%;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 0;
}
.primary{
    height: 115vh;
}
.secondary{
    padding: 30px;
}
.secondary p{
    font-weight: 500;
}
.secondary a{
    text-decoration: none;
    color: #0095f6;
    font-weight: 700;
    cursor: pointer;
}
